
html {
  font-size: 18px;
}

body {
  background: #fff;
  font-family: "Georgia", "PingFang TC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
  margin: 0 0 50px;
  color: #444;
  line-height: 1.7;
}

a {
  color: #434344;
}

a:focus,
a:hover {
  color: #42b983;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0
}

section {
  margin-top: 1.6rem;
}

li {
  line-height: 1.8;
  list-style: none;
}

li:before {
  content: "\f052";
  float: left;
  font: 13px Octicons;
  margin-top: 6px;
  margin-left: -20px;
  opacity: .1;
  position: absolute;
}

h4 span:first-child {
  font-weight: bold;
}

.container {
  max-width: 750px;
  padding: 0 30px;
}

.col-sm-6 {
  margin-bottom: 10px;
}

.col-sm-12 h4 {
  margin-top: 12px;
}

.col-sm-12 + .col-sm-12 {
  margin-top: 15px;
  margin-bottom: 15px;
}

header {
  padding: 40px 0 20px 0;
  margin-bottom: 30px;
}


header h2 {
  color: #787878;
  font-size: 1.2rem;
}

main h3 {
  font-size: 1.3rem;
  text-align: right;
  padding-right: 40px;
}

#profiles .network {
  text-transform: capitalize;
}

#work .position,
#volunteer .position {
  font-weight: bold;
  margin-bottom: 8px;
}

#education .area {
  font-weight: bold;
}

#education .area:before {
  content: "\f0d7";
  font: 16px Octicons;
  margin-right: 6px;
}

#education .studyType {
  margin-left: 25px;
}

#awards .summary,
#publications .summary {
  margin-top: 8px;
}

#publications .website a:before {
  content: attr(href);
}

.strike-through {
  border-top: 1px solid #f4f6f6;
  height: 20px;
  margin-top: 12px;
  margin-bottom: -2px;
  position: relative;
}

.strike-through span,
.strike-through a {
  background: #fff;
  position: absolute;
}

.strike-through span:first-child {
  padding-right: 20px;
  margin-top: -12px;
}

.strike-through span + span {
  font-size: 0.77rem;
  margin-top: -10px;
  padding-left: 20px;
  right: 0;
}


@media screen and (max-width:768px) {
  .col-sm-6:last-child {
    margin-bottom: 0px;
  }

  main h3 {
    margin-bottom: 20px;
    padding-right: 0;
    text-align: left;
  }

  #publications .website a:before {
    content: "View publication";
  }

}

@media screen and (max-width:480px) {
  html {
    font-size: 75%;
  }

  .date {
    margin-bottom: 5px;
  }

  .strike-through span:first-child {
    margin-bottom: 7px;
  }

  .strike-through span {
    display: block;
  }

  header {
    margin-bottom: 10px;
    padding: 40px 0 20px 0;
  }

}
